.Greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.Greeting__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Greeting__title {
  margin-bottom: 25px;
  font-size: 32px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .Greeting {
    padding: 15px;
  }

  .Greeting__title {
    font-size: 24px;
  }
}