@media screen and (max-width: 576px) {
  .MuiTableContainer-root .MuiTableCell-root {
    padding: 8px;
    font-size: 10px;
  }

  .MuiPaper-root .MuiTypography-root {
    font-size: 10px;
  }

  .MuiPaper-root .MuiSelect-root {
    font-size: 10px;
  }

  .MuiPaper-root .MuiTablePagination-selectRoot {
    margin-left: 0;
    margin-right: 5px;
  }

  .MuiPaper-root .MuiTablePagination-actions {
    margin-left: 0 ;
  }

  .MuiPaper-root .MuiTablePagination-root .MuiButtonBase-root {
    padding: 0;
  }

  .MuiPaper-root .MuiTypography-root {
    padding-right: 5px;
  }

  .MuiPaper-root .MuiToolbar-gutters {
    padding-left: 8px;
  }

  .MuiPaper-root .MuiTablePagination-select {
    padding-left: 3px;
  }
}